.wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: left;
}

.preview {
    border: 1px solid darkgray;
    padding: 10px;
}

.wrapper button {
    background-color: none;
    margin-top: 10px;
    border: 1px solid black;
}

.info {
    cursor: pointer;
    font-size: .75em;
    color: blue;
}

.wrapper button.info {
    border: none;
}

.info__wrapper {
    position: relative;
}

.popup {
    position: absolute;
    background: white;
    border: 1px solid darkgray;
    padding: 10px;
    left: -70px;
    top: 0px;
}